
{% extends "base2.html.twig" %}

    {% block javascripts %}

            
        <script src="{{ asset('JS/mio2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('JS/mesas2.js') }}" type="text/javascript"></script>
    {% endblock %}

    {% block body %}

    <div class="contenedor">
        <div class="sala"><p>Sala</p></div>
        <div class="almacen">
            <p>Almacen</p> 
            <button class="btn btn-primary w-50 py-1 centraBoton" type="submit" id="creaMesa">Crear Mesa Nueva</button>
                {# <div class="mesa" id="mesa_1"></div>
                <div class="mesa" id="mesa_2"></div>
                <div class="mesa" id="mesa_3"></div>
                <div class="mesa" id="mesa_4"></div>
                <div class="mesa" id="mesa_5"></div> #}
        </div> 
        
    </div>
           




    {% endblock %}
